
.main-container1 {
    position: relative;
    background-color: #243C84;
    display: flex;
    margin: 8px -8px;
    width: auto;
    padding: 26px 26px;
    justify-content: center;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 5px purple;
}

.login-cadastro-box {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    padding: 12px;
    background-color: #151DA6;
}

form {
    display: flex;
    flex-direction: column;
    color: khaki;
    font-size: 18px;
    line-height: 12px;
    width: 400px;
}

input {
    width: inherit;
    height: 26px;
    border: 1px solid #9B9B9B;
    background: plum;
}

.manter-logado {
    align-self: center;
}

button {
    width: inherit;
    height: 40px;
    background: beige;
    color: #15155B;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    border: 2px solid white;
    text-decoration: none;
    transition: 1s;
    margin-top: 22px;
}

button:hover {
    color: beige;
    background-color: #15155B;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

.anchorRedirect {
    width: 230px;
    height: 40px;
    background: red;
    color: snow;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    border: 2px solid white;
    text-decoration: none;
    transition: 1s;
    margin-top: 22px;
}

.anchorRedirect:hover {
    color: beige;
    background-color: #15155B;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

ul.errors-div {
    color: beige;
    display: flex;
    flex-direction: column;
}



/* media queries */

@media (max-width: 320px){
    header {
        width: 109%;
    }
    .main-container1 {
        flex-direction: column;
        margin: 8px -17px;
    }
    .login-cadastro-box {
        height: auto;
        justify-content: flex-start;
        width: 98%;
    }
    h2 {
        font-size: 26px;
        padding-top: 0px;
        margin-bottom: 10px;
    }
    form {
        font-size: 16px;
        line-height: 10px;
        width: 90%;
        padding-bottom: 8px;
    }
    button {
        width: inherit;
        margin: 10px 2px 8px;
    }
    footer {
        width: 109%;
    }
}