<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/compraconcluida-style.css" />
<body>
    
    <%- include('./partials/header') %>

    <div class="main-container1">
        <h1>COMPRA REALIZADA COM SUCESSO!!</h1>
        <img class="png-grandao" src="/images/kelpie-png.png"/>
        <h4>Agradecemos pela confiança. Chegará amanhã no endereço informado.</h4>
    </div>






    <%- include('./partials/footer') %>

</body>
</html>