<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/detalhesproduto-style.css" />
<body>

    <%- include('./partials/header') %>


    <div class="main-container1">
        <div class="detalhes-container">
            <h1>NOME DO PERSONA</h1>
            <div class="detalhes-descricao">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam 
                    voluptatibus maxime earum blanditiis quisquam nobis enim laborum 
                    repellendus expedita veniam doloremque explicabo culpa ut, quod 
                    fuga. Quia ipsa explicabo placeat. Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Architecto, velit enim totam 
                    voluptatem nesciunt fugit officia animi quia eveniet corrupti 
                    et provident quisquam nisi harum ipsum aliquam dignissimos quos 
                    dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Delectus reprehenderit odio architecto, veritatis quo odit repellat, 
                    qui quas ullam nesciunt rerum ex? Nobis eos, saepe consectetur a 
                    voluptates sed similique? Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Delectus, vitae repudiandae. Aliquam possimus 
                    assumenda odit a! Necessitatibus, iusto.</p>
            </div>
            <div class="preco-e-button">
                <p class="preco">R$ 1999,00</p>
                <button>COMPRAR!
                    <img class="carrinho-icon" src="/images/carrinho-de-compras.png" />
                </button>

            </div>
        </div>
        <div class="img-detalhes-container"></div>      
    </div>



    <%- include('./partials/footer') %>
    
</body>
</html>