<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home-style.css" />
<body>

    <%- include('./partials/header') %>


    <div class="main-container1">
        <h1>TODOS OS SEUS DEMÔNIOS PREFERIDOS EM UM SÓ LUGAR</h1>
        <div class="home-container2">
            <div class="jackfrost-home"><img class="png-home" src="/images/jackfrost1.png"/></div>
            <div class="apresentacao-container2">
                <h2>Um mundo de possibilidades</h2>
                <p class="blabla">Lorem ipsum dolor sit amet consectetur, adipisicing 
                    elit. Eum, labore, quisquam quidem quia voluptatem, 
                    quam vero cupiditate repudiandae dignissimos ipsam 
                    tempora nam quos neque ducimus quasi fuga? Rem, 
                    minima optio. Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Quis aliquam illo ipsa illum 
                    accusamus repudiandae aperiam perspiciatis repellat 
                    rem nulla impedit amet, iure recusandae! Ratione 
                    autem velit animi voluptas nesciunt. Lorem ipsum dolor 
                    sit amet consectetur adipisicing elit. Optio quae 
                    nesciunt obcaecati nostrum quaerat porro fuga enim, 
                    inventore ratione ipsa magni voluptatem, quibusdam 
                    iure nobis doloremque, natus cumque blanditiis et? 
                    Lorem ipsum dolor sit amet consectetur, adipisicing 
                    elit. Cupiditate dignissimos id esse aut delectus 
                    vel, vitae quia, dolorum nesciunt accusamus dolores 
                    iure laborum quis pariatur, consequatur dolorem cum 
                    dicta tempora.</p>
                <button>Explorar</button>
            </div>
        </div>


        <section>
            <p class="banner-text">Promoções do mês</p>
            <div class="promocoes-container">
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
            </div>
        </section>
    </div>

    


    <%- include('./partials/footer') %>

</body>
</html>