<footer>
    <div class="footer-container-left">
        <p class="texto-contato-footer">Fale conosco!</p>
        <div class="social-icons">
            <img class="img-icon" src="/images/facebook.png">
            <img class="img-icon" src="/images/instagram.png">
            <img class="img-icon" src="/images/youtube.png">
            <img class="img-icon" src="/images/whatsapp.png">
        </div>
    </div>
    <div class="footer-container-right">
        <p class="texto-footer-dir">Persona commerce 2022.
            <br>Nenhum direito reservado.</p>
    </div>
</footer>