
    <ul>
        <li><a class="menu-anchors" href="../">HOME</a></li>
        <li><a class="menu-anchors" href="">CATEGORIAS</a></li>
        <li><a class="menu-anchors" href="../listagem">TODOS PRODUTOS</a></li>
        <li><a class="menu-anchors" href="../carrinho">CARRINHO<img class="carrinho-pic" src="/images/carrinho-de-compras.png" /><p class="cart-qtt"> (0)</p></a></li>
        <li><a class="menu-anchors" href="../paginausuario">PÁGINA DO USUÁRIO</a></li>
    </ul>


